.container {
    margin-top: 30px;
    padding: 30px 40px 20px 40px;
    background-color: #ffffff;
}

.container:first-child {
    margin-top: 0;
}

.name {
    margin-top: 0;
    font-size: 25px;
}

.description {
    margin-bottom: 0;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.svg {
    margin-right: 15px;
}

.bottom {
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f5f7fa;
}

.price {
    margin-left: 15px;
    font-size: 28px;
    color: #FF6441;
}

.pricecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 75px;
}

.icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.iconItem {
    margin-right: 15px;
}

.iconItem:last-child {
    margin-right: 0;
}

.middle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.submitted {
    border-left: 4px solid #008040;
}
.completed {
    border-left: 4px solid #008040;
    background: var(--green-hint);
}

.pending {
    border-left: 4px solid var(--primary-four);
}

.cancelledCard {
    border-left: 4px solid var(--red);
    background: var(--red-hint);
}

.submittedIcon {
    padding: 8px 21px 8px 8px;
    margin-right: 0;
    border-radius: 25px;
    background: #eafaf1;
}

.removeBtn {
    cursor: pointer;
}

.pendingCancel {
    padding: 8px 21px 8px 8px;
    margin-right: 0;
    border-radius: 25px;
    background: var(--red-hint);
}

.pendingCancel path:last-child,
.pendingCancel circle {
    stroke: var(--red);
}

.cancelled {
    padding: 11px 21px 16px;
    margin-right: 0;
    border-radius: 25px;
    background: var(--red-hint);
    font-weight: 500;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-two);
    background-color: #ffefec;
    border-radius: 50%;
}

.edit:hover {
    background-color: #ffffff;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity p {
    margin: 0 15px 0 0;
}

.amount {
    font-weight: bold;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #80808036;
    backdrop-filter: blur(5px);
    z-index: 5;
}
.modalInner {
    max-width: 800px;
    background: #ffffff;
}
.modalTitle {
    padding: 17px 40px;
    font-size: 2.2rem;
    background: #3c3c46;
    color: #ffffff;
}
.inner {
    padding: 0 40px 6px;
}
.cancel {
    margin-right: 20px;
}
.error {
    padding: 15px 15px;
    background: var(--red-hint);
    border-left: 4px solid var(--red);
}
.actions {    
    padding: 34px 40px 40px;
    border-top: 1px solid #cccccc;
}
