@font-face {
  font-family: "MaerskText-Regular";
  src: url("/fonts/MaerskText-Regular.woff2") format("woff2"), url("/fonts/MaerskText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "MaerskText-Light";
  src: url("/fonts/MaerskText-Light.woff2") format("woff2"), url("/fonts/MaerskText-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "MaerskText-Bold";
  src: url("/fonts/MaerskText-Bold.woff2") format("woff2"), url("/fonts/MaerskText-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

:root {
  /* grid system config */
  --wrapper-width: 1664px;
  --wrapper-margin-wide: 64px;
  --wrapper-margin-narrow: 32px;

  /* fonts */
  --maersk: "MaerskText-Regular", helvetica, sans-serif;
  --maersk-light: "MaerskText-Light", helvetica, sans-serif;
  --maersk-bold: "MaerskText-Bold", helvetica, sans-serif;
  --helveticaneue: "helveticaneue", helvetica, sans-serif;

  /* transition properties */
  --transition-speed: 0.4s;
  --transition-mode: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* colors */
  --primary-one: #3c3c46;
  --primary-two: #ff6441;
  --primary-three: #0a6e80;
  --primary-four: #eeaf30;

  --primary-two-muted: #ff8266;
  --primary-two-shade: #f25e18;
  --primary-two-hint: #ffefec;

  --primary-three-hint: #e6f1f2;

  --maersk-blue: #42b0d5;

  --red: #e21f2d;
  --red-hint: #fdedee;

  --soft-yellow: #f0be78;
  --soft-yellow-hint: #f6f2e4;

  --green: #008040;
  --green-hint: #eafaf1;

  --neutral-grey: #a3adbc;
  --neutral-grey-hint: #eef0f3;

  --dark-grey: #454545;
  --mid-grey: #5a6e7d;
  --mid-grey-muted: #dfe4eb;
  --mid-grey-hint: #7a8591;
  --light-grey: #737373;

  --white: #d8d8d8;
  --white-two: #f7f7f7;
  --white-three: #f5f7fa;
  --white-four: #fafbfc;
  --pinkish-grey: #e7e1d5;
  --light-blue: #f0fafb;

  /* icons */
  --search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23454545' fill-rule='nonzero' d='M8.5 14a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm6.372-1.542l5.835 5.835-1.414 1.414-5.7-5.7a7.5 7.5 0 1 1 1.28-1.549z'/%3E%3C/svg%3E");
  --close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233c3c46' fill-rule='nonzero'%3E%3Cpath d='M10 8.191l5.186-4.8 1.414 1.31-6.6 6.108-6.707-6.207 1.414-1.31L10 8.193zm-5.293 7.417L3.293 14.3l6.6-6.108 6.707 6.207-1.414 1.31-5.293-4.9-5.186 4.8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --tick: url("data:image/svg+xml,%3Csvg width='14' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.875 6.858L12.555 0l1.332 1.492-9.12 8.142L.5 5.188l1.443-1.385z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  --calendar: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0a1 1 0 102 0h2a1 1 0 102 0h2a1 1 0 002 0h1a2 2 0 012 2v11.867C16 15.045 15.105 16 14 16H2c-1.105 0-2-.955-2-2.133V2a2 2 0 012-2zm12 4H1v9.923c0 .552.386 1.008.883 1.07L2 15h12c.513 0 .936-.416.993-.951l.007-.126V4zM7 5v4H2V5h5z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E");
  --arrow-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath d='M6 6 0 0h12z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E");
  --arrow-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath d='M6 0l6 6H0z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E");
  --arrow-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='m0 6 6-6v12z' fill='%23FF6441' fill-rule='evenodd'/%3E%3C/svg%3E");
  --arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='M6 6 0 0v12z' fill='%23FF6441' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  --arrow-left-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='m0 6 6-6v12z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
  --arrow-right-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpath d='M6 6 0 0v12z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  --go: url("data:image/svg+xml,%3Csvg width='4' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8l4-4-4-4v1.403L2.585 4 0 6.58z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  --go-fill: url("data:image/svg+xml,%3Csvg width='4' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8l4-4-4-4z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E");

  --unit-zero: 0;
  --unit-zero-quarter: calc(100% / 12 * 0.25);
  --unit-zero-half: calc(100% / 12 * 0.5);
  --unit-zero-three-quarter: calc(100% / 12 * 0.75);
  --unit-one: calc(100% / 12);
  --unit-one-quarter: calc(100% / 12 * 1.25);
  --unit-one-half: calc(100% / 12 * 1.5);
  --unit-one-three-quarter: calc(100% / 12 * 1.75);
  --unit-two: calc(100% / 12 * 2);
  --unit-two-quarter: calc(100% / 12 * 2.25);
  --unit-two-half: calc(100% / 12 * 2.5);
  --unit-two-three-quarter: calc(100% / 12 * 2.75);
  --unit-three: calc(100% / 12 * 3);
  --unit-three-quarter: calc(100% / 12 * 3.25);
  --unit-three-half: calc(100% / 12 * 3.5);
  --unit-three-three-quarter: calc(100% / 12 * 3.75);
  --unit-four: calc(100% / 12 * 4);
  --unit-four-quarter: calc(100% / 12 * 4.25);
  --unit-four-half: calc(100% / 12 * 4.5);
  --unit-four-three-quarter: calc(100% / 12 * 4.75);
  --unit-five: calc(100% / 12 * 5);
  --unit-five-quarter: calc(100% / 12 * 5.25);
  --unit-five-half: calc(100% / 12 * 5.5);
  --unit-five-three-quarter: calc(100% / 12 * 5.75);
  --unit-six: calc(100% / 12 * 6);
  --unit-six-quarter: calc(100% / 12 * 6.25);
  --unit-six-half: calc(100% / 12 * 6.5);
  --unit-six-three-quarter: calc(100% / 12 * 6.75);
  --unit-seven: calc(100% / 12 * 7);
  --unit-seven-quarter: calc(100% / 12 * 7.25);
  --unit-seven-half: calc(100% / 12 * 7.5);
  --unit-seven-three-quarter: calc(100% / 12 * 7.75);
  --unit-eight: calc(100% / 12 * 8);
  --unit-eight-quarter: calc(100% / 12 * 8.25);
  --unit-eight-half: calc(100% / 12 * 8.5);
  --unit-eight-three-quarter: calc(100% / 12 * 8.75);
  --unit-nine: calc(100% / 12 * 9);
  --unit-nine-quarter: calc(100% / 12 * 9.25);
  --unit-nine-half: calc(100% / 12 * 9.5);
  --unit-nine-three-quarter: calc(100% / 12 * 9.75);
  --unit-ten: calc(100% / 12 * 10);
  --unit-ten-quarter: calc(100% / 12 * 10.25);
  --unit-ten-half: calc(100% / 12 * 10.5);
  --unit-ten-three-quarter: calc(100% / 12 * 10.75);
  --unit-eleven: calc(100% / 12 * 11);
  --unit-eleven-quarter: calc(100% / 12 * 11.25);
  --unit-eleven-half: calc(100% / 12 * 11.5);
  --unit-eleven-three-quarter: calc(100% / 12 * 11.75);
  --unit-twelve: 100%;

  --tick: url("data:image/svg+xml,%3Csvg width='14' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.875 6.858L12.555 0l1.332 1.492-9.12 8.142L.5 5.188l1.443-1.385z' fill='%23ff6441' fill-rule='evenodd'/%3E%3C/svg%3E");
  --tick-hover: url("data:image/svg+xml,%3Csvg width='14' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.875 6.858L12.555 0l1.332 1.492-9.12 8.142L.5 5.188l1.443-1.385z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html {
  font-size: 62.5%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;
  color: var(--mid-grey);
  white-space: normal;
  text-overflow: ellipsis;
}

select,
input[type="phone"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="text"],
input[type="password"] {
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;
}

.page-container {
  padding-top: 60px;
}

/* links */
a,
.a {
    text-decoration: none;
    color: var(--primary-two);
    font-family: var(--maersk-bold);
}
a:focus,
.a:focus {
    outline: 0;
}
a:hover,
.a:hover {
    text-decoration: underline;
}
a:active,
.a:active {
    outline: 0;
    color: var(--primary-two-muted);
    text-decoration: underline;
}
a:not([href]) {
    color: var(--neutral-grey);
    text-decoration: none;
}

a.go {
    display: inline-flex;
    align-items: center;
}
a.go::after {
    content: "";
    margin-left: 5px;
    display: block;
    height: 8px;
    width: 4px;
    background-image: var(--go);
}
a.go--back::after {
    content: none;
}
a.go--back::before {
    content: "";
    margin-right: 5px;
    display: block;
    height: 8px;
    width: 4px;
    background-image: var(--go);
    transform: rotate(180deg);
}

button {
    padding: 0;
    color: inherit;
    background: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
button:focus {
    outline: none;
}

/* external link */
.external-link__anchor {
    color: var(--primary-two);
}
.external-link__anchor svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-two);
}
.external-link svg {
    position: relative;
    bottom: -4px;
}
.rich-text .external-link a {
    margin-right: 3px;
}


.btn {
  padding: 15px 25px;
  background-color: #FFEFEC;
  color: #FF6441;
  border: 1px solid #FF6441;
  cursor: pointer;
  font-size: 1.6rem;
}
.btn--secondary {
  background-color: #ffffff;
}

/* lists */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl,
dd {
  margin: 0;
}

.bullet-list .bullet-list-item {
  position: relative;
  padding-left: 9px;
}
.bullet-list .bullet-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  background: var(--light-grey);
  border-radius: 50%;
}
[dir="rtl"] .bullet-list .bullet-list-item {
  padding-left: 0;
  padding-right: 9px;
}
[dir="rtl"] .bullet-list .bullet-list-item::before {
  left: auto;
  right: 0;
}


/* headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 400;
    margin: 0;
}

h1,
.h1 {
    font-family: var(--maersk-light);
    font-size: 5.8rem;
    line-height: 6.8rem;
}
h2,
.h2 {
    font-family: var(--maersk-light);
    font-size: 3.6rem;
    line-height: 5rem;
}
h3,
.h3 {
    font-family: var(--maersk-light);
    font-size: 2.8rem;
    line-height: 3.9rem;
}
h4,
.h4 {
    font-family: var(--maersk);
    font-size: 2.2rem;
    line-height: 3rem;
}
h5,
.h5 {
    font-family: var(--maersk-bold);
    font-size: 1.6rem;
    line-height: 2.7rem;
}
h6,
.h6 {
    font-family: var(--maersk-bold);
    font-size: 1.4rem;
    line-height: 2.2rem;
}

/* title */

.title-striped {
  position: relative;
}
.title-striped--margin-top {
  margin-top: 80px;
}

.title-striped h1 {
  margin-bottom: 35px;
}

.title-striped div {
  pointer-events: none;
  position: absolute;
  left: 269px;
  z-index: -1;
}
.title-striped svg {
  transform: scale(3);
  opacity: 0.1;
}

.module-heading {
    margin-bottom: 40px;
    color: var(--primary-one);
}
.module-heading--card-grid {
    margin-top: 80px;
}

/* paragraph */
p {
    margin: 0 0 25px;
}

/* tone */
strong,
b,
.bold {
    font-family: var(--maersk-bold);
}

/* images */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.close-button::before,
.close-button::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: var(--dark-grey);
    transform: rotate(45deg);
    top: calc(50% - 1px);
    right: 0;
    margin: auto;
    transition: background-color var(--transition-speed) var(--transition-mode);
}
.close-button::after {
    transform: rotate(-45deg);
}
.close-button:hover::before,
.close-button:focus::before,
.close-button:hover::after,
.close-button:focus::after {
    background: var(--primary-two);
}

/* more buttons */

button {
  cursor: pointer;
}
.button {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--primary-two);
  padding: 14px 40px 17px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: var(--maersk-bold);
  color: var(--primary-two);
  transition: color 0.2s var(--transition-mode), background-color 0.2s var(--transition-mode);
  z-index: 0;
}

.button:hover {
  color: #ffffff;
  background-color: var(--primary-two);
  text-decoration: none;
}

.button:active {
  color: #ffffff;
  background-color: var(--primary-two-muted);
  text-decoration: none;
}

.button:focus {
  border-width: 3px;
  padding: 12px 38px 15px;
  background-color: #ffffff;
  color: var(--primary-two);
}

.button[disabled] {
  background-color: #bec4d0;
  border-color: #bec4d0;
  color: #ffffff;
}
.button--loading[disabled],
.button--loading[disabled]:focus {
  background-color: var(--primary-two);
  border-color: var(--primary-two);
  color: var(--primary-two);
}

.button__loader {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.button--loading .button__loader {
  display: flex;
  transform: rotate(-90deg);
}
.button__loader svg {
  margin: 0 !important;
}
.button__loader circle {
  animation: button__loader 2.7s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button + .button {
  margin-left: 16px;
}

[dir="rtl"] .button + .button {
  margin-left: 0;
  margin-right: 16px;
}

.button svg {
  margin-right: 10px;
}

[dir="rtl"] .button svg {
  margin-left: 10px;
  margin-right: 0;
}

.button path {
  fill: var(--primary-two);
  transition: fill 0.2s var(--transition-mode);
}

.button:hover path,
.button:active path {
  fill: #ffffff;
}

.button:focus path {
  fill: var(--primary-two);
}

/* primary button */
.button--primary,
.button--primary:focus {
  background-color: var(--primary-two-hint);
}

/* small button */
.button--small {
  font-size: 1.4rem;
  padding-top: 11px;
  padding-bottom: 12px;
}

.button--small:focus {
  padding-top: 9px;
  padding-bottom: 10px;
}

/* ios overrides */
.ios .button:hover {
  color: #ffffff;
  background-color: var(--primary-two);
  text-decoration: none;
}
.ios .button:active {
  color: #ffffff;
  background-color: var(--primary-two-muted);
  text-decoration: none;
}
.ios .button:focus {
  border-width: 3px;
  padding: 12px 38px 15px;
  background-color: #ffffff;
  color: var(--primary-two);
}

.ios .button--primary,
.ios .button--primary:focus {
  background-color: var(--primary-two-hint);
}
.ios .button--small:focus {
  padding-top: 9px;
  padding-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .button {
      width: 100%;
  }

  .button + .button,
  [dir="rtl"] .button + .button {
      margin: 16px 0 0;
  }
}

@keyframes button__loader {
  0% {
      stroke-dasharray: 0 100 100 100;
      stroke-dashoffset: 100;
  }
  100% {
      stroke-dasharray: 100 100 100 100;
      stroke-dashoffset: 0;
  }
}

table {
  /* minus 0.1px to fix the horizontal scrollbar always being shown */
  width: calc(100% - 0.1px);
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 40px;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: var(--maersk);
}
[dir="rtl"] table {
  text-align: right;
}
tbody {
  border-top: 2px solid var(--primary-one);
}
thead + tbody {
  border-top: 0;
}
th {
  background: var(--primary-one);
  color: #ffffff;
  position: relative;
  font-family: var(--maersk);
  line-height: 2.5rem;
  height: 5rem;
  min-height: 5rem;
  font-weight: 400;
}
th::after {
  content: "";
  display: block;
  height: calc(100% - 20px);
  width: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--neutral-grey);
}
tbody th::after {
  display: none;
}
[dir="rtl"] th::after {
  right: auto;
  left: 0;
}
th:last-child::after {
  display: none;
}
tr {
  border: 1px solid #dee3e9;
  background-color: #ffffff;
  background-clip: padding-box;
}
thead tr {
  border: 0;
}
tr:nth-child(even) {
  background-color: var(--white-three);
}
th,
td {
  padding: 8px;
  vertical-align: middle;
  background-clip: padding-box;
}
td {
  height: 61px;
  color: var(--dark-grey);
}

.ie th::after {
  display: none;
}
.ie th {
  border-right: 1px solid var(--neutral-grey);
  background-clip: padding-box;
}
[dir="rtl"].ie th {
  border-right: none;
  border-left: 1px solid var(--neutral-grey);
}
.ie th:last-child {
  border-right: none;
}
[dir="rtl"].ie th:last-child {
  border-left: none;
}
tfoot {
  border-top: 2px solid var(--primary-one);
}
tfoot tr {
  background-color: var(--mid-grey-muted);
}

/* Generic Table */
.generic-table {
  margin: 40px 0;
  position: relative;
}

.generic-table__title {
  margin-bottom: 20px;
}

.generic-table__error {
  display: none;
  padding: 26px 20px 40px;
  text-align: center;
  box-shadow: 0 2px 15px 0 rgba(197, 197, 197, 0.5);
}

.generic-table__table-container .loader {
  max-width: calc(100vw - var(--wrapper-margin-wide) - var(--wrapper-margin-wide));
}
.generic-table__loader {
  align-items: flex-start;
  padding-top: 110px;
}
.generic-table--loading .generic-table__loader {
  align-items: center;
  padding-top: 0;
}

.generic-table__info-list {
  margin-bottom: 16px;
}
.generic-table__info-item {
  display: inline;
  margin-left: 6px;
  border-left: 1px solid var(--mid-grey);
  padding-left: 8px;
}
[dir="rtl"] .generic-table__info-item {
  margin-left: 0;
  border-left: 0;
  padding-left: 0;
  margin-right: 6px;
  border-right: 1px solid var(--mid-grey);
  padding-right: 0;
}
.generic-table__info-item--results,
.generic-table__info-item--showing {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.generic-table__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.generic-table__actions-feature,
.generic-table__actions-secondary {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.generic-table__actions-secondary {
  justify-content: flex-end;
}
.generic-table__actions-feature .scEmptyPlaceholder,
.generic-table__actions-secondary .scEmptyPlaceholder {
  flex: 1;
}
.generic-table__action,
.generic-table__action:focus {
  display: flex;
  margin-bottom: 16px;
}

.generic-table__actions-feature .generic-table__action {
  margin-left: 0;
  margin-right: 20px;
}
.generic-table__actions-secondary .generic-table__action,
[dir="rtl"] .generic-table__actions-feature .generic-table__action {
  margin-left: 20px;
  margin-right: 0;
}
[dir="rtl"] .generic-table__actions-secondary .generic-table__action {
  margin-left: 0;
  margin-right: 20px;
}

.generic-table__action--pagination {
  display: none;
}
.generic-table--pagination .generic-table__action--pagination,
[sc-part-of] .generic-table__action--pagination {
  display: flex;
}

.generic-table__action--filter {
  display: none;
}
.generic-table--filter .generic-table__action--filter,
[sc-part-of] .generic-table__action--filter {
  display: flex;
}

.generic-table__prev + .generic-table__next {
  margin-left: 8px;
}
[dir="rtl"] .generic-table__prev + .generic-table__next {
  margin-left: 0;
  margin-right: 8px;
}

.generic-table__message {
  position: relative;
  z-index: 1;
}

.generic-table__table-container {
  position: relative;
  min-height: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.generic-table__table {
  margin-bottom: 0;
}
.generic-table__header[data-type="9"] {
  /* [data-type="9"] is targeting a table header cell which has the checkbox input field */
  width: 62px;
}

.generic-table__row--odd {
  background-color: #ffffff !important;
}
.generic-table__row--even {
  background-color: var(--white-three) !important;
}

.generic-table__cell {
  position: relative;
}
.generic-table__cell .action:last-child:not(:first-child) {
  margin-left: 15px;
}
.generic-table__cell--flex {
  display: flex;
}
.generic-table__cell--flex button {
  margin-bottom: 0;
  margin: 0 10px;
}
.generic-table__cell--flex button:focus {
  margin-bottom: 0;
  margin: 0 10px;
}

.generic-table__cell--no-results {
  /* minus 0.1px to fix the horizontal scrollbar always being shown */
  width: calc(100% - 0.1px);
  height: auto;
  position: absolute;
  padding: 0;
}

.generic-table__cell--actual {
  background-color: var(--primary-two-hint);
}

.generic-table__cell--actual > div,
.generic-table__cell--estimated > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.generic-table__cell--actual svg,
.generic-table__cell--estimated svg {
  width: 50px;
}

.generic-table__cell--actual path {
  fill: var(--primary-two);
}

.generic-table__cell--estimated path {
  fill: var(--maersk-blue);
}

.generic-table__cell--actual::after,
.generic-table__cell--estimated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
}

.generic-table__cell--actual::after {
  background: var(--primary-two);
}

.generic-table__cell--estimated::after {
  background: var(--maersk-blue);
}

.generic-table__icon {
  display: flex;
  align-items: center;
}

.generic-table__icon span {
  white-space: nowrap;
}

.generic-table__icon svg,
.generic-table__icon img {
  margin: 0 4px 0 0 !important;
  width: 30px;
}
[dir="rtl"] .generic-table__icon svg,
[dir="rtl"] .generic-table__icon img {
  margin: 0 0 0 4px !important;
}

.generic-table__comma-list li::after {
  content: ", ";
}
.generic-table__comma-list li:last-child::after {
  content: "";
}

.generic-table img {
  display: flex;
  margin: 0 auto;
  width: auto;
}

.generic-table__primary-secondary-text-link,
.generic-table__primary-secondary-text-link:focus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--maersk);
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.generic-table__primary-secondary-text-value {
  margin-bottom: 8px;
}
.generic-table__primary-secondary-text-icon {
  margin-left: 20px;
}
[dir="rtl"] .generic-table__primary-secondary-text-icon {
  transform: rotate(180deg);
  transform-origin: center;
  margin-left: 0;
  margin-right: 20px;
}

.generic-table__no-results {
  margin: 0 auto;
  padding: 40px;
  max-width: 400px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.generic-table__no-results-icon {
  margin: 0 auto 20px;
}

.generic-table__table-container input[type="checkbox"] {
  vertical-align: middle;
  margin: 11px;
}
.ie .generic-table__table-container input[type="checkbox"].ie-inputs__input + .ie-inputs__span {
  vertical-align: middle;
  margin: 11px -11px;
}

.generic-table--loading .generic-table__info-list,
.generic-table--loading .generic-table__actions,
.generic-table--loading .generic-table__message,
.generic-table--loading .generic-table__table {
  display: none;
}

.generic-table--highlight-tooltips .generic-table__cell.tooltip {
  background-color: var(--soft-yellow-hint);
}

@media screen and (max-width: 1024px) {
  .generic-table__table-container .loader {
      max-width: calc(100vw - var(--wrapper-margin-narrow) - var(--wrapper-margin-narrow));
  }

  .generic-table__action--desktop {
      display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .generic-table__actions {
      flex-direction: column;
  }
  .generic-table__actions-feature,
  .generic-table__actions-secondary {
      flex-direction: column;
      justify-content: center;
  }
  .generic-table__action {
      width: 100%;
      justify-content: center;
      font-size: 16px;
      line-height: 26px;
  }
  .generic-table__actions-feature .generic-table__action,
  .generic-table__actions-secondary .generic-table__action,
  [dir="rtl"] .generic-table__actions-feature .generic-table__action,
  [dir="rtl"] .generic-table__actions-secondary .generic-table__action {
      margin: 0 0 16px;
  }
}

@media print {
  .generic-table__actions {
      display: none;
  }
  .generic-table__table-container {
      overflow: visible;
  }
}

/* Fixed Table */
.fixed-table__container {
  position: relative;
}
.fixed-table[data-sticky-row="true"] .fixed-table__data-holder {
  position: relative;
}
.fixed-table__holder {
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.4rem;
  z-index: 2;
  background: #ffffff;
}
.fixed-table__holder--row {
  overflow: hidden;
  width: 100%;
  background: var(--primary-one);
}
.fixed-table__data {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-top: 1px solid #dee3e9;
  border-left: 1px solid #dee3e9;
  background: #ffffff;
}
.fixed-table__holder--row .fixed-table__data {
  position: absolute;
  background: var(--primary-one);
  color: #ffffff;
  font-family: var(--maersk);
  border: 0;
  height: 100%;
  line-height: 2rem;
  justify-content: flex-start;
}
.fixed-table__data:nth-child(odd) {
  background: #f7f7f7;
}
.fixed-table__data:first-child {
  background: var(--primary-one);
  color: #ffffff;
  position: relative;
  font-family: var(--maersk);
  border-top: 0;
}
.fixed-table__holder--row .fixed-table__data:first-child {
  position: absolute;
}
.fixed-table__data:first-child::after,
.fixed-table__holder--row .fixed-table__data::after {
  content: "";
  display: block;
  height: calc(100% - 20px);
  width: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--neutral-grey);
  z-index: 1;
}
[dir="rtl"] .fixed-table__data:first-child::after,
[dir="rtl"] .fixed-table__holder--row .fixed-table__data::after {
  right: auto;
  left: 0;
}
.fixed-table__data--border-hidden::after,
.fixed-table__data--border-hidden:first-child::after,
.fixed-table__holder--row .fixed-table__data--border::after,
.fixed-table__holder--row .fixed-table__data--border::before,
.fixed-table__holder--row .fixed-table__data.fixed-table__data--hide-divider::after,
.ie .fixed-table__holder--row .fixed-table__data::after {
  display: none;
}
.fixed-table__data--tooltip {
  background-color: var(--soft-yellow-hint);
}
.fixed-table__data--highlight,
.fixed-table__data--highlight:nth-child(odd) {
  background: #ebeae9;
}
.fixed-table__holder--row .fixed-table__data:nth-child(odd) {
  background: var(--primary-one);
}

[dir="rtl"] .fixed-table__holder {
  left: auto;
  right: 0;
}
[dir="rtl"] .fixed-table__data:first-child::after {
  right: auto;
  left: 0;
}
.ie .fixed-table__data:first-child::after {
  display: none;
}
.ie .fixed-table__data:first-child,
.ie .fixed-table__holder--row .fixed-table__data {
  border-right: 1px solid #dee3e9;
}
.ie .fixed-table__holder--row .fixed-table__data--hide-divider,
.ie .fixed-table__data--border-hidden {
  border-right: none;
}

/* Table Sorting */
.generic-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: inherit;
}
[dir="rtl"] .generic-sort {
  text-align: right;
}
.generic-sort__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: -3px;
}
[dir="rtl"] .generic-sort__icon {
  margin-right: 0;
  margin-left: -3px;
}
.generic-sort__icon::before {
  content: "";
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
}
.generic-sort__icon::after {
  content: "";
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  margin-top: 4px;
}

/* Table Actions */
.action__icon--complete {
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--tick);
}
.action__icon--complete:hover {
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--tick-hover);
}
.generic-table__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.generic-table__actions-feature,
.generic-table__actions-secondary {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.generic-table__actions-secondary {
  justify-content: flex-end;
}
.generic-table__actions-feature .scEmptyPlaceholder,
.generic-table__actions-secondary .scEmptyPlaceholder {
  flex: 1;
}
.generic-table__action,
.generic-table__action:focus {
  display: flex;
  margin-bottom: 16px;
}

.generic-table__actions-feature .generic-table__action {
  margin-left: 0;
  margin-right: 20px;
}
.generic-table__actions-secondary .generic-table__action,
[dir="rtl"] .generic-table__actions-feature .generic-table__action {
  margin-left: 20px;
  margin-right: 0;
}
[dir="rtl"] .generic-table__actions-secondary .generic-table__action {
  margin-left: 0;
  margin-right: 20px;
}

.generic-table__action--pagination {
  display: none;
}
.generic-table--pagination .generic-table__action--pagination,
[sc-part-of] .generic-table__action--pagination {
  display: flex;
}

.generic-table__action--filter {
  display: none;
}
.generic-table--filter .generic-table__action--filter,
[sc-part-of] .generic-table__action--filter {
  display: flex;
}

.action {
  display: inline-flex;
  align-items: center;
  color: var(--primary-one);
  font-family: var(--maersk);
  transition: color var(--transition-mode) 0.2s;
}

.action__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 16px;
  border: 1px solid var(--primary-two);
  background-color: var(--primary-two-hint);
  color: var(--primary-two);
  transition: background-color 0.2s var(--transition-mode), border-color 0.2s var(--transition-mode), color 0.2s var(--transition-mode);
}

.action__icon svg {
  max-width: 18px;
  max-height: 18px;
}

.action__icon path {
  fill: var(--primary-two);
  transition: fill 0.2s var(--transition-mode);
}

.action__label {
  margin-left: 8px;
  font-size: 1.4rem;
  line-height: 2rem;
}

[dir="rtl"] .action__label {
  margin-left: 0;
  margin-right: 8px;
}

.action:focus {
  color: var(--primary-two);
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.action:focus .action__icon {
  border-width: 2px;
}

.action:hover {
  color: var(--primary-two);
  text-decoration: none;
}

.action:hover .action__icon {
  background-color: var(--primary-two);
  color: #ffffff;
}

.action:hover .action__icon path {
  fill: #ffffff;
}

.action:active {
  text-decoration: none;
}

.action:active .action__icon {
  background-color: var(--primary-two-muted);
  border-color: var(--primary-two-muted);
}

.action:active .action__icon path {
  fill: #ffffff;
}

.action[disabled],
a.action:not([href]) {
  color: var(--neutral-grey);
}

.action[disabled] .action__icon,
a.action:not([href]) .action__icon {
  background-color: #bec4d0;
  border-color: #bec4d0;
}

.action[disabled] .action__icon path,
a.action:not([href]) .action__icon path {
  fill: #ffffff;
}

/* secondary action */
.action--secondary {
  position: relative;
}

.action--secondary .action__label {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  margin: 0;
  padding: 3px 12px 4px;
  color: #ffffff;
  font-family: var(--maersk-bold);
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--primary-one);
  left: 0;
  right: auto;
}
.action--secondary:hover .action__label {
  display: block;
}
.action--secondary.action--reverse .action__label,
[dir="rtl"] .action--secondary .action__label {
  left: auto;
  right: 0;
}
[dir="rtl"] .action--secondary.action--reverse .action__label {
  left: 0;
  right: auto;
}

.action--secondary .action__label::after {
  content: "";
  position: absolute;
  bottom: -5px;
  border-top: 6px solid var(--primary-one);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  left: 11px;
  right: auto;
}
.action--secondary.action--reverse .action__label::after,
[dir="rtl"] .action--secondary .action__label::after {
  left: auto;
  right: 11px;
}
[dir="rtl"] .action--secondary.action--reverse .action__label::after {
  left: 11px;
  right: auto;
}

/* loading */
.action--loading[disabled] .action__icon,
.action--loading[disabled]:focus .action__icon {
  background-color: var(--primary-two);
  border-color: var(--primary-two);
}

.action__loader {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
.action--loading .action__loader {
  display: flex;
  transform: rotate(-90deg);
}
.action__loader svg {
  margin: 0 !important;
}
.action__loader circle {
  animation: action__loader 2.7s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes action__loader {
  0% {
      stroke-dasharray: 0 100 100 100;
      stroke-dashoffset: 100;
  }
  100% {
      stroke-dasharray: 100 100 100 100;
      stroke-dashoffset: 0;
  }
}

.today-only__label {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.today-only__label:first-child {
  margin-left: 0;
}
[dir="rtl"] .today-only__label {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .today-only__label:first-child {
  margin-right: 0;
}

/* Forms */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    border: 2px solid var(--primary-two);
}
input[type="search"],
input[type="radio"],
input[type="checkbox"],
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid #aab4c3;
    background-color: #ffffff;
    vertical-align: bottom;
}
input[type="radio"]:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled:checked,
input[type="checkbox"]:disabled:checked {
    border-color: #aab4c3;
    background-color: #eff0f2;
}
input[type="radio"] {
    border-radius: 100%;
}
input[type="radio"]:checked {
    background-size: 10px 8px;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--primary-two);
    border-color: var(--primary-two);
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--tick);
}

input[type="radio"] + label,
input[type="checkbox"] + label,
input[type="radio"] + input[type="hidden"] + label,
input[type="checkbox"] + input[type="hidden"] + label {
    margin-left: 8px;
    color: var(--primary-one);
}
[dir="rtl"] input[type="radio"] + label,
[dir="rtl"] input[type="checkbox"] + label,
[dir="rtl"] input[type="radio"] + input[type="hidden"] + label,
[dir="rtl"] input[type="checkbox"] + input[type="hidden"] + label {
    margin-left: 0;
    margin-right: 8px;
}

label input[type="radio"],
label input[type="checkbox"] {
    margin-right: 8px;
    color: var(--primary-one);
}
[dir="rtl"] label input[type="radio"],
[dir="rtl"] label input[type="checkbox"] {
    margin-right: 0;
    margin-left: 8px;
}

label svg {
    margin-right: 8px;
    vertical-align: middle;
    height: 24px;
    width: 24px;
}
[dir="rtl"] label svg {
    margin-right: 0;
    margin-left: 8px;
}

/* RAG Status */
.status {
  display: inline-flex;
  align-items: center;
  margin: 0 8px 8px 0;
  padding: 3px 12px;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.083rem;
  font-family: var(--maersk-bold);
  text-transform: uppercase;
  color: var(--primary-one);
  background-color: var(--neutral-grey-hint);
  white-space: nowrap;
  vertical-align: middle;
}
[dir="rtl"] .status {
  margin: 0 0 8px 8px;
}
.status:only-child,
[dir="rtl"] .status:only-child {
  margin: 0;
}
.status svg {
  width: auto;
  max-height: 2.4rem;
  margin: 0 4px 0 -10px;
}
[dir="rtl"] .status svg {
  margin: 0 -10px 0 4px;
}
.status path {
  fill: var(--primary-one);
}

.status--red {
  background-color: var(--red-hint);
}
.status--red path {
  fill: var(--red);
}
.status--amber {
  background-color: var(--soft-yellow-hint);
}
.status--amber path {
  fill: var(--soft-yellow);
}
.status--green {
  background-color: var(--green-hint);
}
.status--green path {
  fill: var(--green);
}
.status--black,
[dir="rtl"] .status--black {
  background-color: var(--primary-one);
  color: #ffffff;
  padding: 3px 13px;
}
.status--black path {
  fill: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}